body{
  background-color: rgb(71, 121, 121);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
}

.toDoForm, .toDoList{
  margin: 0 30px;
  border: 1px solid gray;
  border-radius: 5%;
  padding: 20px;
}

#submit:hover{
  background-color: yellowgreen;
}

.incomplete{
  color: blueviolet;
  font-size: 30px;
}

.complete{
  font-size: 20px;
}

.complete:hover, .incomplete:hover{
  animation: fade-in 2s ease-in; 
  cursor: pointer;
}

.complete-div p, .incomplete-div p{
  margin: 0 5px;
  display: inline;

}


.to-do-list{
  font-size: 50px;
}

@keyframes fade-in{
  0% {
    opacity:.5;
  }
  100% {
    opacity:1;
  }
}